<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <app-header></app-header>
</header>
<body>
    <div class="container mt-7">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo">Listado de Doctores</span>
                        <button class="btn btn-success float-end" routerLink="/crear-doctor">Agregar Doctor</button>
                        <table *ngIf="listDoctores.length >0" class="table table-striped mt-4">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Consultorio</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let doctor of listDoctores">
                                <td >{{doctor.nombre}}</td>
                                <td>{{doctor.apellido}}</td>
                                <td>{{doctor.especialidad}}</td>
                                <td>{{doctor.consultorio}}</td>
                                <td>{{doctor.correo}}</td>
                                <td>
                                    <i class="fas fa-sharp fa-solid fa-pen-to-square text-primary"></i>
                                    <i (click)="eliminarDoctor(doctor._id)" class="fas fa-solid fa-trash text-danger"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <h5 style="text-align: start; margin-top:10px;" *ngIf="listDoctores.length ==0">No hay doctores registrados para mostrar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>
</html>

