<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <app-header></app-header>
</header>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center" id="formulario-container">
                        <span class="titulo">Nuevo Doctor</span>
                        <form class="mt-4" [formGroup]="doctorForm" (ngSubmit)="agregarDoctor()">
                            <div class="mb-3">
                                <input type="text" formControlName="nombre"
                                class="form-control form-control-lg" placeholder="Nombres">
                                <div class="text-danger" 
                                    *ngIf="doctorForm.get('nombre')?.hasError('required') && doctorForm.get('nombre')?.touched">
                                    <span>El nombre del doctor es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="apellido"
                                 class="form-control form-control-lg" placeholder="Apellidos">
                                 <div class="text-danger"
                                    *ngIf="doctorForm.get('apellido')?.hasError('required') && doctorForm.get('apellido')?.touched">
                                    <span>El apellido del doctor es <strong>obligatorio</strong></span>
                                </div>
                                </div>
                            <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Especialidad</label>
                                <select id="disabledSelect" formControlName="especialidad" class="form-select">
                                  <option>Medicina general</option>
                                  <option>Cardiología</option>
                                  <option>Medicina interna</option>
                                  <option>Dermatología</option>
                                  <option>Rehabilitación física</option>
                                  <option>Psicología</option>
                                  <option>Odontología</option>
                                  <option>Radiología</option>
                                </select>
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('especialidad')?.hasError('required') && doctorForm.get('especialidad')?.touched">
                                    <span>La especialidad del doctor es <strong>obligatoria</strong></span>
                                </div>
                            </div>                              
                            <div class="mb-3">
                                <input type="number" formControlName="consultorio"
                                 class="form-control form-control-lg" placeholder="Consultorio">
                                 <div class="text-danger"
                                    *ngIf="doctorForm.get('consultorio')?.hasError('required') && doctorForm.get('consultorio')?.touched">
                                    <span>El numero de consultorio es <strong>obligatorio</strong></span>
                                </div>
                                </div>
                            <div class="mb-3">
                                <input type="email" formControlName="correo"
                                class="form-control form-control-lg" placeholder="Email">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('correo')?.hasError('required') && doctorForm.get('correo')?.touched">
                                    <span>El email del doctor es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button routerLink="/listar-doctor" class="btn btn-secondary btn-lg float-start">Cancelar</button>
                                <button type="submit" [disabled]="doctorForm.invalid" class="btn btn-success btn-lg float-end">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>
</html>
