<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <app-header></app-header>
</header>
<body>
    <div class="container mt-7">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo">Crear Nuevo Paciente</span>
                        <form class="mb-4" [formGroup]="pacienteForm" (ngSubmit)="agregarPaciente()">
                            <div class="mb-3" >
                                <input type="text" formControlName="cedula"
                                    class="form-control form-control-lg" placeholder="Numero Cedula">
                                <div class="text-danger"
                                    *ngIf="pacienteForm.get('cedula')?.hasError('required')">
                                    <span>El numero de la Cedula es <strong>obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="nombres"
                                    class="form-control form-control-lg" placeholder="Nombres">
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="apellidos"
                                    class="form-control form-control-lg" placeholder="Apellidos">
                            </div>
                            <div class="mb-3">
                                <input type="date" formControlName="fechaNacimiento"
                                    class="form-control form-control-lg" placeholder="Fecha Nacimiento">
                            </div>
                            <div class="mb-3">
                                <button routerLink="/listar-paciente" class="btn btn-secondary btn-lg float-start">Cancelar</button>
                                <button type="submit" class="btn btn-success btn-lg float-end">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>
</html>

